{% extends 'base.html.twig' %}

{% block title %}Modifier la Saison{% endblock %}

{% block body %}
    <h1>Modifier la Saison</h1>

    {{ include('season/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('program_show', {program : program.id, season : season.id}) }}">Retour à la liste des saisons</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
