$blue: #2657a4;
$red: #dc1d22;
$white: white;
$black: black;

@import "~bootstrap/scss/bootstrap";

nav {
  background-color: $danger;
}

a {
  color: $black;
}

.nav-link {
  color: $white;
}

a:hover {
  color: $black;
}
h1 {
  text-align: center;
  padding: 20px;
}

li a {
  color: $black;
}
